<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcs.krishidarshan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SchemesActivity"
            android:label="@string/schemes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Alert"
            android:label="@string/alerts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".AboutUs"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"
            android:label="About Us"/>
        <activity
            android:name=".Market"
            android:label="@string/market"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".WeatherActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tcs.krishidarshan.MainActivity" />
        </activity>

        <activity
            android:name=".CropsActivity"
            android:label="@string/title_activity_crops"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tcs.krishidarshan.MainActivity" />
        </activity>

        <activity
            android:name=".ForecastActivity"
            android:label="@string/forecast"
            android:parentActivityName=".WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tcs.krishidarshan.WeatherActivity" />
        </activity>

    </application>
</manifest>